<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dictionary - <Link:mf></Link:mf></title>
</head>
<body>
    <form>
        Search:<br>
        <input type="text" name="search" value="Mickey">
        <br>
        <input type="submit" value="Submit" >
    </form>
    
{% block body %}
  
    <li><a>{{ it }}</a></li>
  
{% endblock %}
</body>
</html>